<!-- Video section -->
<section id="review">
	<div class="row">
		<div class="twelve columns">
			<div class="eleven columns centered">
				<h3><i class="icon-circleplayempty"></i>Check this video to know more about this app</h3>
				<div class="video">
					<iframe height="281" src="http://player.vimeo.com/video/71175857?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="500"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Video section -->
