=render "user_search"
button.restore-button.btn.btn-primary Restart Patient Search
=render "email_failure"
=render "email_success"
=render "confirm_relationship"
=render "reconfirm_relationship"
=render 'form'

=javascript_include_tag 'relationships'

  
  
