<div class="card share m-l-25 col1 m-t-25" data-social="item" style="float: left">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<%= image_tag 'img/profiles/'+rand(1..8).to_s+'.jpg', width: 33, height: 33 %>

</div>
<h5>Jamie Jones</h5>
<h6>
<span class="location semi-bold"><i class="fa fa-map-marker"></i> Different Places USA</span>
</h6>
</div>
<div class="card-description">
<p>This will offer a bit of insight in the individual and his/or her specialty <</p>
<div class="via">Time on Site - 3 years</div>
</div>
</div>
