
<form id="form-register" class="p-t-15" role="form" action="index.html">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group form-group-default">
        <label>First Name</label>
        <input type="text" name="fname" placeholder="John" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group form-group-default">
        <label>Last Names</label>
        <input type="text" name="lname" placeholder="Smith" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group form-group-default">
        <label>Pages User name</label>
        <input type="text" name="uname" placeholder="yourname.pages.com (this can be changed later)" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group form-group-default">
        <label>Password</label>
        <input type="password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group form-group-default">
        <label>Email</label>
        <input type="email" name="email" placeholder="We will send loging details to you" class="form-control" required>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>
</form>
