<h3>Invitation to Patient Notes</h3>

<p>
  Hey <%= @invitation.recipient_first_name %>, <%= @doctor.first_name %> <%= @doctor.last_name %> would like to make scheduling your therapy session easier.  Patients Notes is free for you to use and will automate everything about your meetings.  From scheduling to notifications to billings.  Please finish the registration process below:
</p>
<p> <%= @signup_url %>
