.six.columns.middle-form
  h2.purple.center-text Thank You!!!
  p.center-text One of our agents will reach out to you shortly to answer your inquiry.  In the meantime, we invite you to try our product absolutely free!
  a.btn.center-btn href=new_user_path(first_name: @lead.first_name, last_name: @lead.last_name, email:@lead.email, phone:@lead.phone) Create my free acount
