<div class="col-md-6 col-xlg-6">
  <div class="col-md-12 m-b-10">
    <div class="ar-3-2 widget-1-wrapper">
      <div class="panel no-border panel-default no-margin widget-loader-circle">
        <div class="panel-heading p-l-30 p-t-30 p-r-30">
          <div class="pull-left">
            <div class="panel-title">Overdue Patient Updates
            </div>
            <div class="">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="p-l-30 p-r-30 p-b-30">
          <div id="rankingTable_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div class="table-responsive">
              <table class="table table-hover  dataTable no-footer" id="overdue" role="grid" aria-describedby="rankingTable_info">
                <thead>
                  <tr role="row">
                    <th class="hint-text fs-11 col-xs-6 sorting_asc" tabindex="0" aria-controls="rankingTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Keyword: activate to sort column descending">Name</th>
                    <th class="hint-text fs-11 sorting" tabindex="0" aria-controls="rankingTable" rowspan="1" colspan="1" aria-label="Avg Search volume: activate to sort column ascending">Last Update</th>
                  </tr>
                </thead>
                <tbody>
                <% @late.each do |a| %>
                  <tr role="row" class="odd">
                    <td class="v-align-middle sorting_1">
                      <p><%= User.find(a.patient_id).first_name + " " + User.find(a.patient_id).last_name %></p>
                    </td>
                    <td class="v-align-middle">
                      <p><%= a.updated_at.strftime("%d %b") %></p>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div>
                <div class="dataTables_paginate paging_simple_numbers" id="rankingTable_paginate">
                  <ul class="">
                    <li class="paginate_button previous disabled" id="rankingTable_previous">
                      <a href="#" aria-controls="rankingTable" data-dt-idx="0" tabindex="0">
                        <i class="pg-arrow_left"></i>
                      </a>
                    </li>
                    <li class="paginate_button active">
                      <a href="#" aria-controls="rankingTable" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="rankingTable" data-dt-idx="2" tabindex="0">2</a>
                      </li>
                    <li class="paginate_button next" id="rankingTable_next">
                      <a href="#" aria-controls="rankingTable" data-dt-idx="3" tabindex="0">
                        <i class="pg-arrow_right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="dataTables_info" id="rankingTable_info" role="status" aria-live="polite">Showing <b>1 to 5</b> of 6 entries
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
