

<div class="col-md-12 m-b-10">
  <div class=" panel no-border  no-margin widget-loader-circle todolist-widget">
    <div class="panel-heading">
      <div class="panel-title">TODOLIST
      </div>
      <div class="panel-controls">
        <ul>
          <li>
            <a href="#" class="portlet-refresh text-black" data-toggle="refresh">
              <i class="portlet-icon portlet-icon-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="list-unstyled p-l-25 p-r-25 p-t-20 m-b-30">
      <li>
        <h5 class="pull-left normal no-margin">28th September</h5>
      <!--  <a href="#" class="text-black pull-right m-l-5" data-toggle="refresh"><i class="fa fa-angle-right"></i></a>
        <a href="#" class="text-black pull-right m-r-5" data-toggle="refresh"><i class="fa fa-angle-left"></i></a>-->
      </li>
      <div class="clearfix"></div>
    </ul>
    <div class="p-t-0 p-r-25 p-b-25 p-l-25 clearfix">
      <ul class="task-list no-margin list-unstyled ">
        <li class="task m-b-10 clearfix row completed">
          <div class="task-list-title">
            <a href="#" class="text-master strikethrough task-name" data-task="name">Send bill to Sam
            </a>
            <i class="fs-14 pg-close pull-right hidden"></i>
          </div>
          <div class="checkbox checkbox-circle no-margin text-center">
            <input type="checkbox" checked="checked" value="1" id="todocheckbox" data-toggler="task">
            <label for="todocheckbox" class=" no-margin no-padding"></label>
          </div>
        </li>
        <li class="task m-b-10 clearfix row">
          <div class="task-list-title">
            <a href="#" class="text-master task-name" data-task="name">Call Accountant
            </a>
            <i class="fs-14 pg-close pull-right hidden"></i>
          </div>
          <div class="checkbox checkbox-circle no-margin text-center">
            <input type="checkbox"  value="1" id="todocheckbox1" data-toggler="task">
            <label for="todocheckbox1" class=" no-margin no-padding"></label>
          </div>
        </li>
        <li class="task m-b-10 clearfix row">
          <div class="task-list-title">
            <a href="#" class="text-master task-name" data-task="name">Sign up for conference
            </a>
            <i class="fs-14 pg-close pull-right hidden"></i>
          </div>
          <div class="checkbox checkbox-circle no-margin text-center">
            <input type="checkbox" value="1" id="todocheckbox2" data-toggler="task">
            <label for="todocheckbox2" class=" no-margin no-padding"></label>
          </div>
        </li>
        <li class="task m-b-10 clearfix row">
          <div class="task-list-title">
            <a href="#" class="text-master task-name" data-task="name">Book flight
            </a>
            <i class="fs-14 pg-close pull-right hidden"></i>
          </div>
          <div class="checkbox checkbox-circle no-margin text-center">
            <input type="checkbox"  value="1" id="todocheckbox3" data-toggler="task">
            <label for="todocheckbox3" class=" no-margin no-padding"></label>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="bg-master-light padding-30 full-width ">
      <div class="row">
        <div class="col-xs-10">
          <p class="no-margin normal text-black">Add more to your list...</p>
          <div class="input-group transparent no-border full-width">
            <input id="new-task" class="form-control transparent p-l-0" type="text" placeholder="What do you need to remeber to do?">
          </div>
        </div>
        <div class="col-xs-2 text-center">
          <div class="block plus m-t-20"><%= image_tag "img/plus.svg" %>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
