h3 You have a new appointment!

p Hey #{@doctor.first_name}, #{@patient.first_name} #{@patient.last_name} has scheduled and appointment!  Here are the details:

p Date: #{@appointment.date}
p Start: #{@appointment.start}
p End: #{@appointment.end}
