h3 You have a new appointment!

p Hey #{@patient.first_name}, you have scheduled an appointment with Dr. #{@doctor.first_name} #{@doctor.last_name}!  Here are the details:

p Date: #{@appointment.date}
p Start: #{@appointment.start}
p End: #{@appointment.end}
