h3 Was there a mistake?

p Hey #{@doctor.first_name}, #{@patient.first_name} #{@patient.last_name} has declined your invitation.  Please login and submit the request again if you feel as though this was an error.
