// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google_event_class {
	background-color: #cff5f2 !important;
}
.appointment_class {
	background-color: #b565a7 !important;
}
.group_event_class {
	background-color: #a5b6e6 !important;
}
.personal_event_class {
	background-color: #f4f5b1 !important;
}