
br
br
=button_to "Add a new patient", patients_user_path(current_user), method: "get",class:"btn btn-primary"
hr
h5.text-primary Appointment Details
=form_for @appointment, html: {class:"short-form"}, remote: true do |f|
  .form-group.form-group-default.form-group-default-select6.required
      =f.label :event_type, "Event Type"
      =f.select :event_type, options_for_select(Appointment.event_types.reject{|a| a == "google_event"}.map{ |a| [a[0].humanize, a[0]] }, "appointment"), {}, {id: "event_types", required:true}
  .form-group.form-group-default-select2.form-group-default.required
    =f.label :patient_id, "Patient"
    =f.select :patient_id, get_options(@selected_patient_id, "patients"), {}, {id: "patient_ids", required:true}
  .form-group.form-group-default.form-group-default-select5
      =f.label :cpt_code, "CPT"
      =f.select :cpt_code, options_for_select(get_cpt_options), {prompt: "Select a CPT"}, {id: "cpt_codes", required:false}
  .form-group.form-group-default.required
    =f.label :date
    =f.date_field :date, required:true
  .form-group.form-group-default.start-time.required
      =f.label :start, "Start Time"
      =f.select :start, options_for_select(["",""]), {}, {id: "start_times", required:true}
  .form-group.form-group-default.end-time.required
    =f.label :end, "End Time"
    =f.select :end, options_for_select(["",""]), {}, {id: "end_times", required:true}
      
  .form-group.form-group-default.required
      =f.label :recurrence, "Reoccuring"
      =f.select :recurrence, options_for_select(Appointment.reocurrings.map{ |a| [a[0].humanize, a[0]]}, "Once"), {}, {id: "reocurring", required:true}
      
  .form-group.form-group-default.form-group-default-select2.required
    =f.label :status, "Appointment Status"
    =f.select :status, options_for_select(Appointment.statuses.map{ |a| [a[0].humanize, a[0]]}, "confirmed"), {}, {id: "status-options", required:true}
  .form-group
    =f.hidden_field :doctor_id, value: @current_user.id
    =f.submit "Add Appointment", class:"btn btn-primary block full"


/ .sample
